<% @posts.each do |post|%>
<br>
<%= link_to post_path(post) do %>

 <div class=" row single_post hoverable">
   <div class="col s12 card">
  <div class="card-action header">
    <%=time_ago_in_words(post.created_at)%> ago
  </div>
  <br>
  <div class="center">
     <%= image_tag post.image.url(:medium), class:"responsive-img" %>
   </div>
  <br>
  <div class="card-action center"> <%= post.description%> </div>
</div>
</div>
<% end %>
  <br>
<%end%>
